button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left { 
	transform: translateX(-20%);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.logo-panel {
    border-radius: 10px;
    width: 15vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    margin-bottom: 2rem;
}

.overlay-panel button {
    margin-top: 2rem;
    width: 20vw;
    color: var(--white-50);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 14px 0;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.overlay-panel button:hover {
    border: 2px solid var(--white-50);
}

.overlay-panel h1 {
    padding: 0.5rem 0;
    font-size: 2rem;
}

.overlay-panel p {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}